/* Style for the body*/
body {
  font-family: Arial, sans-serif;
  background: #333f50;
  margin: 0;
}

/* Style for the header */
header {
  background: #4d5f78;
  padding: 20px 40px;
}

header h1 a {
  color: #82cffd;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

/* Style for the navigation menu */
#menu-button {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  background: #333f50;
  border-radius: 5px;
  padding: 2px;
  margin-left: 20px;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

#menu-button:hover {
  background: #c7c7cc;
}

/* Style for the footer */
footer {
  background: #4d5f78;
  color: #82cffd;
  padding: 20px 20px;
}

.footer-small {
  color: white;
  font-size: 11px;
}
