footer {
    position: fixed;
    bottom: 0;
    border-top: 1px;
    border-color: #FFFFFF;
}

.footer {
    padding: 20px 20px;
    background-color: #262626
}

.footer .large-text {
    color: #FFFFFF;
    font-size: 13px;
}

.footer .small-text {
    font-size: 11px;
}